{#
/**
 * @file events.html.twig
 * Default theme implementation to present Events data.
 *
 * This template is used when viewing Events pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_events()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('events') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
